<h1>Today</h1>

<ul>
{% for entry in entries %}
    <li>
        <h3>{{ entry.meal.name }}</h3>
        <ul>
            <li>Date: {{ entry.date }}</li>
            <li>Time: {{ entry.time }}</li>
            <li>Calories: {{ entry.meal.kcal }}</li>
            <li>Fat: {{ entry.meal.fat }}g</li>
            <li>Carbohydrates: {{ entry.meal.carbs }}g</li>
            <li>Protein: {{ entry.meal.protein }}g</li>
        </ul>
    </li>
{% endfor %}
    <li>
        <h3>Total:</h3>
        <ul>
            <li>Calories: {{ totals.kcal }}</li>
            <li>Fat: {{ totals.fat }}g</li>
            <li>Carbohydrates: {{ totals.carbs }}g</li>
            <li>Protein: {{ totals.protein }}g</li>
        </ul>
    </li>
</ul>