<h1>Your |\/|acros:</h1>
<h2>These are you macro guidelines for fitness health:</h2>
<ul>
    <li>
        <h4>Training Day:</h4>
        <ul>
            <li>Calories: {{ user.train_kcal }}</li>
            <li>Fat: {{ user.train_fat }}g</li>
            <li>Carbohydrates: {{ user.train_carb }}g</li>
            <li>Protein: {{ user.protein }}g</li>
        </ul>
    </li>
    <li>
        <h4>Rest Day:</h4>
        <ul>
            <li>Calories: {{ user.rest_kcal }}</li>
            <li>Fat: {{ user.rest_fat }}g</li>
            <li>Carbohydrates: {{ user.rest_carb }}g</li>
            <li>Protein: {{ user.protein }}g</li>
        </ul>
    </li>
</ul>