<!doctype html>
<html lang="en">
    <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>To Do List</title>
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
        <body>
                <div id="app">
                
                <div class="container">
                <h2 class="text-center">{{fail}}</h2>
                <div class="row mt-5">
                <div class="col-xs-12 col-md-4">
                <form>
                <div class="form-group">
                <label for="todolist">To-do list:</label>
                <input type="text" class="form-control" ref="textbox" v-model="newtodolist" placeholder="Start Typing...">
                </div>
                <button type="button" class="btn btn-primary" v-on:click="addTodo">Save</button>
                </form>
                </div>
                <div class="col-xs-12 col-md-8 pt-4">
                <ul class="list-group">
                <li class="list-group-item disabled" v-for="(todolist,index) in todolists" :key="index">
                {{todolist.text}}
                <button class="btn btn-danger btn-sm float-right" v-on:click="removeTodo(index)"> <span class="fa fa-remove"></span></button>
                </li>
                </ul>
                </div>
                </div>
                </div>
                </div>
                </div>
                    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
                        <script>
                            var app = new Vue({
                            el: '#app',
                            data: {
                            fail : "To-do list:",
                            todolists :[
                            {text : "Dishes"},
                            {text : "Take out Trash"},
                            {text : "Clean T.V stand"},
                            {text : "Make Dinner"},
                            {text : "Make Lunch"},
                            ],
                            newtodolist : "" 
                            },
                            methods:{
                            addTodo:function(){
                            this.todolists.push({text:this.newtodolist});
                            this.$refs.textbox.focus()
                            this.newtodolist = "" 
                            },
                            removeTodo:function(index){
                            this.todolists.splice(index,1);
                            }
                            }
                            })
                        </script>
        </body>
</html>