{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.11.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <title>Sokly</title>
</head>
<body>
    
    <section class="hero is-primary is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                            <form action="POST" class="box">{% csrf_token %}
                                <div class="field">
                                <label for="" class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                                    <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                </div>
                                <div class="field">
                                <label for="" class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input type="password" placeholder="*******" class="input" required>
                                    <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                </div>
                                <div class="field">
                                </div>
                                <div class="field">
                                <button class="button is-success">
                                    Login
                                </button>
                                </div>
                                <div class="has-text-centered">
                                    <a href="signup"> Don't you have an account? Sign up now!</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>




            <script src="{%static 'js/bulma.js'%}"></script>

</body>
</html>