{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/roster_page_stylesheet.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'weather-icons-master/css/weather-icons.min.css'%}">
    <script defer src="https://use.fontawesome.com/releases/v5.11.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma-extensions.min.css">
    <title>Roster Page</title>
</head>
<body>
    {% csrf_token %} 

    <div id="app">




        <nav class="navbar is-fixed-top is-info has-text-centered" role="navigation" aria-label="main navigation">

                <div class="navbar-brand ">
                        <a class="navbar-item" href="https://bulma.io">
                        <img src="{% static 'img/sokly_200.png' %}" width="112" height="28">
                        </a>
        
                        <div class="navbar-item" id="weather_info_bar">
                        <dark-weatherinfo class="DarkWeatherInfo" :location-cond-temp='locationCondTemp'  :location-info='Locationinfo' :location-icon='locationIcon'></dark-weatherinfo>
                        </div>
        
        
                        <!-- <dark-weatherinfo class="DarkWeatherInfo" :location-cond-temp='locationCondTemp'  :location-info='Locationinfo' :location-icon='locationIcon'></dark-weatherinfo>  -->
        
        
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu" v-on:click="showNav = !showNav" v-bind:class="{ 'is-active' : showNav }">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        </a>
                </div>
        
        
                
                <div id="navMenu" class="navbar-menu " v-bind:class="{ 'is-active' : showNav }">
                        <div class="navbar-end">
        
                        {% if user.is_authenticated %}
                        <a class="navbar-item">Welcome {{ user.username }}!</a>
                        <a  class="navbar-item" href="{% url 'login' %}">Logout</a>
                        {% else %}
                        
                        <p class="navbar-item">Welcome, visitor!</p>
                        <a class="navbar-item" href="{% url 'login' %}">Login</a>
                        <a class="navbar-item" href="{% url 'users:signup' %}">Sign Up</a></p>
                        {% endif %}
                        <!-- <div class="navbar-item" id="weather_info_bar">
                                <dark-weatherinfo class="DarkWeatherInfo" :location-cond-temp='locationCondTemp'  :location-info='Locationinfo' :location-icon='locationIcon'></dark-weatherinfo>
                        </div> -->
        
                        <a href="http://localhost:8000/manager"class="navbar-item">
                        Starter Line-up
                        </a>
                
                        <a href="http://localhost:8000/player_map" class="navbar-item">
                        Player-Map
                        </a>
        
                        <a href="http://localhost:8000/roster_page" class="navbar-item">
                        Roster-Page
                        </a>
        
                        </div>
                        
        </nav> 
        <div class="table-container">
            <table class="table table is-bordered is-striped is-narrow is-hoverable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Number</th>
                        <th>Address</th>
                        <th>File</th>
                        <th>Starting</th>
                        <th></th>



                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(result,index) in PlayerPics" :id="result.id" >
                            <td v-if='EditPlayer !== result.id'>[[result.name]]</td>
                            <td v-if='EditPlayer === result.id'>
                            <input v-model='result.name'/>
                            </td>
                            <td v-if="EditPlayer !== result.id">[[result.position]]</td>
                            <td v-if="EditPlayer === result.id"> 
                                <div class="select is-small" id="position_select">
                                        <select v-model="result.position">
                                            <option v-for="position in Positions">[[position]]</option>
                                        </select>
                                </div>
                            </td>
                            <td v-if='EditPlayer !== result.id'>[[result.number]]</td>
                            <td v-if='EditPlayer === result.id'>
                                <input v-model='result.number'/>
                            </td>
                            <td v-if='EditPlayer !== result.id'>[[result.address]]</td>
                            <td v-if='EditPlayer === result.id'>
                                <input v-model='result.address'/>
                            </td>
                            <td v-if='EditPlayer !== result.id'>[[result.file]]</td>
                            <td v-if='EditPlayer === result.id'>
                                <div class="file is-small">
                                    <label class="file-label">
                                            <input class="file-input" type="file" id="Newfile" ref="Newfile"/>
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose…
                                            </span>
                                            </span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="field">
                            <!-- checkbox from bulma extensions cdn v-model takes player and checks if its true or false (in the starter dictionary in the VUE data)  -->
                            <!-- v-model result.starter = binds the true/false boolean to the set data value and keeps switch either on or off -->
                                    <input v-model="result.starter" :id="`in${result.id}`" class="switch is-small" type="checkbox" :name="`in${result.id}`" v-on:click="UpdateStartingStatus(result)">
                                    <label :for="`in${result.id}`"></label>
                                </div>
                            </td>
                            <td></td>
                            <!-- edit buttons below  -->
                            <td v-if='EditPlayer === result.id'><button class="button is-small is-link is-info" id="save_button" v-on:click="UpdatePlayerInfo(result,$event)">Save</button></td>
                            <td><button class="button is-small is-info is-success" v-on:click='editPlayer(result.id)'>Edit</button></td>
                            <td v-if='EditPlayer === result.id'><button class="button is-small is-danger is-danger" v-on:click="DeletePLayerPhoto(index,result)">Delete</button></td>
                        </tr>

                    </tbody>
            </table>
        </div>
        

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="{%static 'js/player_call.js'%}"></script>
    <script src="{%static 'js/bulma.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/js/bulma-extensions.min.js"></script>
</body>
</html>