<h1>tracker/day.html</h1>

<h2>Macro Diary for {{ day.date }}</h2>
<ul>
    <li>
        <h3>Goals for {% if day.training %} Training {% else %} Rest {% endif %} Day</h3>
        <ul>
            {% if day.training %}
            <li>{{ macros.train_kcal }} kcal</li>
            <li>{{ macros.train_carb }} g</li>
            <li>{{ macros.train_fat }} g</li>
            {% else %}
            <li>{{ macros.rest_kcal }} kcal</li>
            <li>{{ macros.rest_carb }} g</li>
            <li>{{ macros.rest_fat }} g</li>
            {% endif %}
            <li>{{ macros.protein }} g</li>
        </ul>
    </li>
    <li>
        <h3>Entries:</h3>
        {% for entry in day.diary_entry.all %}
        <ul>
            <li>{{ entry.meal.name }}</li>
            <li>{{ entry.meal.kcal }} kcal</li>
            <li>{{ entry.meal.carb }} g</li>
            <li>{{ entry.meal.fat }} g</li>
            <li>{{ entry.meal.protein }} g</li>
        </ul>
        {% endfor %}
    </li>
    <!-- {% if day.diary_entry.all %}
    <li>

    </li>
    {% endif %} -->
    <li>I'm going to put totals down here once I've figured out how.</li>
</ul>

<a href="{% url 'tracker:add_entry_form' pk=day.pk %}"><button>Add Entry!</button></a>