<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Todo List:</h1>
    <div id="app">
        <span>Add Task: </span><input v-model="newTaskText"> <button v-on:click="addTask(newTaskText)">Go!</button>
        <ol>
            <div v-for="task in tasks" v-bind:key="task.id">
                <li>
                    {{task.text}}
                    <div>Created on: {{formatDate(task.created)}}</div>
                    <div v-if="task.completedBool">
                        Completed on: {{formatDate(task.completed)}}
                    </div>
                    <div v-else>
                        <button v-on:click="completeTask(task.id)">Complete Task</button>
                    </div>
                </li>
            </div>
        </ol>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                tasks: [],
                newTaskText: '',
            },
            created: function(){
                axios({
                    method: 'get',
                    url: 'http://127.0.0.1:8000/',
                }).then((res) => {
                    this.tasks = res.data['tasks'];
                });
            },
            methods: {
                addTask: function(newTaskText){
                    axios({
                        method: 'post',
                        url: 'http://127.0.0.1:8000/new-task/',
                        data: {'text': newTaskText}
                    }).then((res) => {
                        this.tasks = res.data['tasks'];
                    });
                },
                completeTask: function(id){
                    axios({
                        method: 'post',
                        url: 'http://127.0.0.1:8000/complete-task/',
                        data: {'id': id}
                    }).then((res) => {
                        this.tasks = res.data['tasks'];
                    });
                },
                formatDate: function(date) {
                    return moment(date).format('LLLL')
                },
            },
            // computed: {
            // }
        })
    </script>

</body>
</html>