<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{author.name}}</h1>
    
    
    <ul>
    {% for book in author.book_set.all %}
        <li>
            {% if book.checked_out == True %}
                {{book}} - Checked Out!
            {% else %}
                {{book}}  - Available! <form action="{% url 'lib:checkout' book.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Check Out!</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    
</body>
</html>