<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Art Title"</title>
    {% with 'cc/css/'|add:css_select as css_select_template %}
      <link rel="stylesheet" href="{% static css_select_template %}">
    {% endwith %}

</head>
<body>
    <mydiv>
        <div>
            <menubar>{% with 'media/'|add:banner_image as banner_image_file %}
                <img src="{% static banner_image_file %}" width="50%" height="50%">
            {% endwith %}  </menubar>
        </div>
        <div>
            <header>
                This is filler text.  User and other miscellaneous information will go here.
    
            </header>
        </div>

        <arttitle>
            Art Title
        </arttitle>

        <artdiv>
            <div id="mainspace">
                <div id="box-inside">
                    <div id="mainpiece">
                        <div id="mscontainer">
                            <img src="/media/images/IMG_3742.jpg" alt="Art Title">
                        </div>
                    </div>
                </div>
            </div>

            <div id="associated">  
                Associated works
            </div>
            <div id="otherworks">
                Other works by artist.
            </div>
            <div id="description">
                <h3>Description</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus atque totam esse ipsum natus neque delectus numquam aliquid quidem, autem accusantium enim praesentium, ab magni minima nam eius. Recusandae, debitis.
            </div>
            
            
        </artdiv>
        <footer>
            Test it! This doesn't make any sense. I hate CSS.
        </footer>
    </mydiv>
    
</body>
</html>