<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% with 'cc/css/'|add:css_select as css_select_template %}
      <link rel="stylesheet" href="{% static css_select_template %}">
    {% endwith %}
    <title>Creative Crossroads Home</title>
    <link type="text/css" rel="stylesheet" href="{% static 'light/src/css/lightslider.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'light/src/js/lightslider.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $("#light-slider1").lightSlider({
              item: 4,
              autoWidth: false,
              adaptiveHeight: true,
              thumbItem: 8,
              loop: true,
              pager: true,
              gallery: true,
              controls: true,
          });
        });
    </script>

</head>
<body>
    <mydiv>
        <div>
            <menubar>{% with 'media/'|add:banner_image as banner_image_file %}
                <img src="{% static banner_image_file %}" width="50%" height="50%">
            {% endwith %}  </menubar>
        </div>
        <div>
            <header>
                {{user.username}}
            </header>
        </div>
        <maindiv>
            <div id="artist_spot">
                <div id="artist_info">
                    <h3>Artist Spotlight</h3><br>
                    Artist Info will go here!
                </div>
                <div id="artist_featured">
                    <br><br>
                    Artist's Featured Work will go here!
                </div>
            </div>
            <div id="digital">
                <h3>Digital Masterpieces</h3>
                <br>
                    <ul id="light-slider1">
                    {% for picture in pictures %}
                    {% if picture.image %}
                        <li data-thumb="{{picture.present}}""><a href="{% url 'cc:details' pk=picture.pk is_collectionpiece=picture.is_collectionpiece %}"><img src="{{picture.present}}"></a><br></li>
                    {% endif %}
                    {% endfor %}
                    </ul>
            </div>
            <div id="analog">
                <h3>Analog Wonders</h3>
                <br>
                <h3>Coming soon!</h3>
                <br>
            </div>
            <div id="jukebox">
                <h3>The Jukebox</h3>
                <br>
                <h3>Coming soon!</h3>
                <br>
            </div>
        
        </maindiv>
        <footer>
            <h3>| ©Creative Crossroads |</h3>
        </footer>
    </mydiv>
</body>
</html>