<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>{{smiley}}</h1>
    <form action='/todo/addeye/' method='POST'>
        {% csrf_token %}
        <input type='text' name='text' placeholder=':'>
        <button type="submit">submit</button>
    </form>
    <form action='/todo/addnose/' method='POST'>
        {% csrf_token %}
        <input type='text' name='text' placeholder='-'>
        <button type="submit">submit</button>
    </form>
    <form action='/todo/addmouth/' method='POST'>
        {% csrf_token %}
        <input type='text' name='text' placeholder=')'>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>