{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/calc.css' %}">
</head>
{% endblock %}
{% block subnav %}
    <nav class="subnav">
        <header>Macro Calculator</header>
    </nav>
{% endblock %}
{% block main %}
<main class="calc">
<form action="{% url 'calc:calculate' %}" method="POST">
{% csrf_token %}
    <div id="form-container">
        <div class="form-row">
            <div class="tag">Enter your weight:</div>
            <div class="inputs">
                <input class="number" type="number" name="weight">
                <input type="radio" name="meas" value="lbs" checked>lbs
                <input type="radio" name="meas" value="kg">kg
            </div>
        </div>

        <div class="form-row">
            <div class="tag">Enter your body fat percentage:</div>
            <div class="inputs">
                <input class="number" type="number" name="bfp">%
            </div>
        </div>

        <div class="form-row">
            <div class="tag">Select your activity level:</div>
            <select class="text" name="act_lvl">
                <option value="1.2">Sedentary (little or no exercise)</option>
                <option value="1.375">Lightly active (training/sports 2-3 days a week)</option>
                <option value="1.55">Moderately active (training/sports 4-5 days a week)</option>
                <option value="1.725">Very active (training/sports 6-7 days a week)</option>
                <option value="1.9">Extremely active(twice per day, extra heavy workouts)</option>
            </select>
        </div>

        <div class="form-row">
            <div class="tag">Select your fitness goal:</div>
            <div class="inputs">
                <input type="radio" name="goal" value="loss">Fat Loss
                <input type="radio" name="goal" value="gain">Muscle Gain
            </div>
        </div>

        <div id="button-row">
            <button id="submit" type="submit">Calculate my Macros!</button>
        </div>
    </div>
</form>
</main>
{% endblock %}