<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Duncan Redirect</title>
</head>
<body>
    <h1>Duncan's URL Shortener</h1>
    <form method="POST" action="{% url 'url_short_app:index' %}">
        {% csrf_token %}
        <input type='text' name='long_url_input' placeholder='Enter Long URL'>
        <button type='submit'>Submit URL</button>
    </form>
    <h4>Short URL:</h4>
    {% for url in submitted_url %}
        <li>
            <a href="{{ url.long_url }}">{{ url.long_url }}</a>
        </li>
        <li>
            <a href="{% url 'index:redirect_func' pk=url.pk %}">{{ url.shortened_url }}</a>
        </li>
    {% endfor %}
</body>
</html>