html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}


.calculator{
    
    display: grid;
    margin: 0 auto;
    width: 350px;
    align-items: center;
    font-size: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

.window{
    text-align: center;
    grid-column: 1 / 5;
    background-color: aqua;
}

.zero{
    grid-column: 1 / 3;
}

.btn{
    text-align: center;
    background-color: #eee;
    border: 1px solid #333;
}

.operator{
    text-align: center;
    background-color: orange;
    color: white;
}