<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% with 'cc/css/'|add:css_select as css_select_template %}
      <link rel="stylesheet" href="{% static css_select_template %}">
    {% endwith %}
</head>
<body>
    
    <mydiv>
        <div>
            <menubar>
                {% with 'media/'|add:banner_image as banner_image_file %}
                    <img src="{% static banner_image_file %}" width="50%" height="50%">
                {% endwith %}
            </menubar>
        </div>
        <div>
            <header>
                Unregistered
            </header>
        </div>

        <usertitle>
            User Title
        </usertitle>

        <maindiv>
            <regdiv>
            
                <h1>Register</h1>
                <div id="formcon1">
                <form id="formC" action="{% url 'users:register_user' %}" method='POST'>
                    {% csrf_token %}
                    <div class="rows">
                        <input type="hidden" name="next" value="{{next}}">
                        <div class="column">
                            <label  class="theLabels">Username:</label>
                            <input class="theInputs" type="text" name="username" placeholder="username">
                        </div>
                        <div class="column">
                            <label  class="theLabels">Email:</label>
                            <input class="theInputs" type="text" name="email" placeholder="email">
                        </div>
                        <div class="column">
                            <label  class="theLabels">Password:</label>
                            <input class="theInputs" type="password" name="password" placeholder="password">
                        </div>
                    <button type="submit">Register</button>
                    </div>
                    </div> 
                </form>
            </div>
            </regdiv>
            <logindiv>
                <h1>Login</h1>
                <div id="formcon2">
                    <form id="formC2" action="{% url 'users:login_user' %}" method='POST'>
                        {% csrf_token %}
                        <div class="rows">
                            
                            <input type="hidden" name="next" value="{{next}}">
                            <div class="column">
                                <label class="theLabels">Username:</label>
                                <input class="theInputs" type="text" name="username" placeholder="username">
                            </div>
                            <div class="column">
                                <label class="theLabels">Password:</label>
                                <input class="theInputs" type="password" name="password" placeholder="password">
                            </div>
                            <button type="submit">Login</button>

                        </div>
                    </form>
                </div>
            </logindiv>
        </maindiv>
    </mydiv>
    <footer>
        <h3>| ©Creative Crossroads |</h3>
    </footer>
</body>
</html>