<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% with 'cc/css/'|add:css_select as css_select_template %}
      <link rel="stylesheet" href="{% static css_select_template %}">
    {% endwith %}
</head>
<body>
    <mydiv>
        <div>
            <menubar>
                {% with 'media/'|add:banner_image as banner_image_file %}
                    <img src="{% static banner_image_file %}" width="50%" height="50%">
                {% endwith %}
            </menubar>
        </div>
        <div>
            <header>
                {{user.username}}     
            </header>
        </div>

        <usertitle>
            {% if initial.name is None %}User{% else %}{{initial.name}}{% endif %}
        </usertitle>

<maindiv2>
    <settingsdiv>
        <h3>Settings Page</h3>
        <div id="formcon1">
        <form id="formC" method="POST" action="{% url 'users:update_profile' %}"" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="rows">
            <input type="hidden" name='user' value="{{user.id}}">
            <div class="column">
                <label class="theLabels">Name:</label>
                <input class="theInputs" type="text" name="name" placeholder="Name" value="{% if initial.name is None %}{% else %}{{initial.name}}{% endif %}">
            </div>

            <div class="column">
                <label  class="theLabels">Location:</label>
                <input class="theInputs" type="text" name="location" placeholder="(ex: Portland, OR)" value="{% if initial.location is None %}{% else %}{{initial.location}}{% endif %}">
            </div>

            <div class="column">
                <label class="theLabels">Bio:</label>
                <textarea class="theInputs"  rows="4" cols="100" name="bio" placeholder="About Me"  style="width: 60%; resize: vertical;">{{initial.bio}}</textarea>
            </div>

            <div class="column">
                <label  class="theLabels">Other Info:</label>            
                <textarea class="theInputs" rows="4" cols="100" name="misc" placeholder="(ex: interests, inspirations, collaboration info)" style="width:60%;resize:vertical;">{% if initial.misc is None %}{% else %}{{initial.misc}}{% endif %}</textarea>
            </div>

            <div class="column">
                <label class="theLabels">Choose a theme:</label>
                <select class="theInputs" name="theme" id="themes">
                    {% for theme in themes %}
                        <option value="{{theme.pk}}">{{theme.text}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="column">
                <label class="theLabels">Choose a layout:</label>
                <select class="theInputs" name="layout" id="layouts">
                    {% for layout in layouts %}
                        <option value="{{layout.pk}}">{{layout.text}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="column">
                <label class="theLabels">Choose your medium(s):</label>
                <select class="theInputs" name="mediums" id="mediums" multiple>
                    {% for medium in mediums %}
                        <option value="{{medium.id}}" {% if medium in instance.mediums.all %} selected {% endif %}>{{medium.text}}  {% if medium in instance.mediums.all %} ✓ {% endif %}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="column">
                <label  class="theLabels">Instagram:</label>
                <input class="theInputs" type="text" name="instagram" placeholder="username" value="{% if initial.instagram is None %}{% else %}{{initial.instagram}}{% endif %}">
            </div>
            <div class="column">
                <label  class="theLabels">Patreon:</label>
                <input class="theInputs" type="text" name="patreon" placeholder="username" value="{% if initial.patreon is None %}{% else %}{{initial.patreon}}{% endif %}">
            </div>
            <div class="column">
                <label  class="theLabels">Soundcloud:</label>
                <input class="theInputs" type="text" name="soundcloud" placeholder="username" value="{% if initial.soundcloud is None %}{% else %}{{initial.soundcloud}}{% endif %}">
            </div>
                
		    <div id="column">
                <label class="theLabels" for="profile_pic">Select an image:</label>
                <input class="theInputs" type="file" name="profile_pic" id="profile_pic">
            </div>
            <button type="submit">Update Profile</button>
            </div>
        </form>
    </div>
    </settingsdiv>
    </maindiv2>
    <footer>
        <h3>| ©Creative Crossroads |</h3>
    </footer>
</maindiv>
</mydiv>
</body>
</html>