{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/user.css' %}">
</head>
{% endblock %}
{% block main %}
<main class="user">
    <header>Sign Up!</header>
    <form action="{% url 'user:register_new_user' pk %}" method="POST">
    {% csrf_token %}    
        <input type="hidden" name="next" value="{{ next }}">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Register</button>
    </form>
</main>
{% endblock %}