{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/css/entry.css' %}">
<script src="{% static 'tracker/js/entry3.js' %}" defer></script>
{% endblock %}

{% block subnav %}
<nav class="subnav">
    <header class="day"><a href="{% url 'tracker:day_last' date=date_link %}"><</a>{{ date_str }}{% if day %} || {% if day.training %}Training Day{% else %}Rest Day{% endif %}{% endif %}<a href="{% url 'tracker:day_next' date=date_link %}">></a></header>
</nav>
{% endblock %}

{% block main %}
<main class="entry">

    <div class="entry outer container">

        <div id="nutritionix" class="entry middle container">
            <header class="small">Use Nutritionix to Track an Entry:</header>

            <query-div v-model="query" v-on:axios-call-event="axiosCall"></query-div>
            <div id="entries-container">
                <header-div v-for="header in headers" :key='header.id' :header="header"></header-div>
                <food-val-div v-for="foodVal in foodVals" :food-val="foodVal" :key="foodVal.id">
                </food-val-div>
                <total-div v-for="total in totals" :total="total" :key="total.id"></total-div>
            </div>
            <button>Track it!</button>
        </div>

        <div id="or"><div>OR:</div></div>

        
        <div id="custom" class="entry middle container">
            <header class="small">Add a New Entry:</header>
            <div>
                <span>Name:</span>
                <input class="input" type="text" v-model="name">
            </div>
            <div>
                <span>Kilocalories:</span>
                <input class="input" id="kcal" type="number" v-model="kcal">
            </div>
            <div>
                <span>Grams of Fat:</span>
                <input class="input" id="fat" type="number" v-model="fat">
            </div>
            <div>
                <span>Grams of Carbohydrates:</span>
                <input class="input" id="carb" type="number" v-model="carb">
            </div>
            <div>
                <span>Grams of Protein:</span>
                <input class="input" id="protein" type="number" v-model="protein">
            </div>
            <div id="save">
                <label>Save for Future Use:</label>
                <input type="checkbox" v-model="save" value="save">
            </div>
            <button id="submit" type="submit">Track It!</button>
        </div>

    </div>
</main>
{% endblock %}