{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/css/entry.css' %}">
<script src="{% static 'tracker/js/entry3.js' %}" defer></script>
{% endblock %}

{% block subnav %}
<nav class="subnav">
    <header class="day"><a href="{% url 'tracker:day_last' date=date_link %}"><</a>{{ date_str }}{% if day %} || {% if day.training %}Training Day{% else %}Rest Day{% endif %}{% endif %}<a href="{% url 'tracker:day_next' date=date_link %}">></a></header>
</nav>
{% endblock %}

{% block main %}
{% csrf_token %}
{{ date_link|json_script:"date_link" }}
{{ track_custom|json_script:"track_custom" }}
{{ track_nutritionix|json_script:"track_nutritionix" }}
{{ day3|json_script:"day3" }}
<main class="entry">

    <div class="entry outer container">

        <div id="nutritionix" class="entry middle container">
            <header class="small">Use Nutritionix to Track an Entry:</header>

            <query-div v-model:query="query" v-on:axios-call-event="axiosCall"></query-div>
            <div id="entries-container">

                <header-div v-for="header in headers" :key='header.id' :header="header" v-show="foodItems.length"></header-div>

                <food-val-div v-for="foodVal in foodVals" :food-val="foodVal" :key="foodVal.id" v-show="foodItems.length"></food-val-div>

                <total-div v-for="total in totals" :total="total" :key="total.id" v-show="foodItems.length>1"></total-div>

            </div>
            <button @click="trackIt">Track it!</button>
        </div>

        <div id="or"><div>OR:</div></div>

        
        <div id="custom" class="entry middle container">

            <header class="small">Add a Custom Entry:</header>
            
            <custom-name v-model="name"></custom-name>

            <custom-kcal v-model="kcal"></custom-kcal>

            <custom-fat v-model="fat"></custom-fat>
            
            <custom-carb v-model="carb"></custom-carb>
            
            <custom-protein v-model="protein"></custom-protein>

            <button @click="trackIt">Track It!</button>

        </div>

    </div>
</main>
{% endblock %}