* {
    /* border: 2px lime dotted; */
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, skyblue, powderblue, skyblue);
    padding: 8px;
    margin: 0px 0px;
    min-width: 45vw;
}

hr {
    border: solid 1px black;
    width: 100%;
}

h2, h3, h4, h5, h6 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
mydiv {
    margin: auto;
    min-width: 40vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}
menubar {
    padding: 5px;
    width: 100%;
    background-color: #d9f0ff;
    color: #593f62;
    display:inline-block;
    text-align:center;
    vertical-align: bottom;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header {
    padding: 5px;
    width: 100%;
    height: 30px;
    background-color: #85cfde;
    color: #593f62;
    display:inline-block;
    text-align:center;
    vertical-align: bottom;
    border: solid 2px black;
    /* border: solid 2px #9ec5ab; */
}

arttitle {
    padding-left: 2%;
    padding-right: 5px;
    width: 100%;
    height: 30px;
    text-align: left;
    text-decoration: underline;
    background-color: #6f73d2;
    display: inline-block;
    color: #593f62;
    font-size: 24px;
}

    artdiv {
        padding: 5px;
        width: 100%;
        height: 100%;
        background-color: #d0f4ea;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        /* text-align: center; */
        color: #593f62;
        border-top: solid 2px black;
        border-bottom: solid 2px black;
    }

    artdiv > * {
        background-color: #d9f0ff;
        padding: 5px;
        
    }

        #mainspace {
            padding: 0px;
            margin: 5px;
            border: solid 2px black;
            border-radius: 20px;
            grid-column: 1 / span 2;
            grid-row: 1 / span 3;
        }
            #box-inside {
                width: 100%;
                height: 100%;
                max-height: inherit;
                padding: 4px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                vertical-align: top;
        }
            #mainpiece {
                max-width: 98%;
                min-width: 98%;
                /* max-height: 50%; */
                height: min-content;
                align-self: center;
                display: block;
                overflow: none;
                text-align: center;
                
                /* flex-basis: auto; */
            }

                #mscontainer {
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding-top: 6px;
                    padding-bottom: 6px;
                }

                    #mainspace img {
                        max-width: 98%;
                        max-height: 98%;
                        border: solid 2px black;
                        border-radius: 20px;
                    }

        #associated {
            margin: 5px;
            border: solid 2px black;
            border-radius: 20px;
            grid-column: 3 / span 1;
            grid-row: 1 / span 3;
        }

        #otherworks {
            margin: 5px;
            border: solid 2px black;
            border-radius: 20px;
            grid-column: 4 / span 1;
            grid-row: 1 / span 3;
        }

        #description {
            margin: 5px;
            border: solid 2px black;
            border-radius: 20px;
            grid-column: 1 / 5;
            grid-row: 4 / span 1;
        }

        




    footer {
        padding: 5px;
        width: 100%;
        height: 60px;
        background-color: #d9f0ff;
        color: #593f62;
        display:inline-block;
        text-align:center;
        vertical-align: bottom;
        border-top: solid 2px black;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }