* {
    /* border: 2px #593f62 dotted; */
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, skyblue, powderblue, skyblue);
    padding: 8px;
    margin: 0px 0px;
    min-width: 45vw;
}

hr {
    border: solid 1px black;
    width: 100%;
}

h2, h3, h4, h5, h6 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

mydiv {
    margin: auto;
    min-width: 40vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

menubar {
    padding: 5px;
    width: 100%;
    background-color: #d9f0ff;
    color: #593f62;
    display:inline-block;
    text-align:center;
    vertical-align: bottom;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header {
    padding: 5px;
    width: 100%;
    height: 30px;
    background-color:#85cfde;
    color: #593f62;
    display:inline-block;
    text-align:center;
    vertical-align: bottom;
    border: solid 2px black;
    /* border: solid 2px #9ec5ab; */
}

usertitle {
    padding-left: 2%;
    padding-right: 5px;
    width: 100%;
    height: 30px;
    text-align: left;
    text-decoration: underline;
    background-color: #6f73d2;
    display: inline-block;
    color: #593f62;
    font-size: 24px;
}

artdiv {
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #d0f4ea;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    /* text-align: center; */
    color: #593f62;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

artdiv > * {
    background-color: #d9f0ff;
}

div#box1 {
    padding: 0px;
    margin: 5px;
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1;
    border: solid 2px black;
    border-radius: 20px;
}

#box1flex {
    width: 100%;
    height: 100%;
    max-height: inherit;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

    #useridphoto {
        max-width: 100%;
        width: 100%;
        /* max-height: 50%; */
        height: min-content;
        display: block;
        overflow: none;
        text-align: center;
        /* flex-basis: auto; */
    }

    #uidcontainer {
        width: 100%;
        height: 100%;
        display: block;
    }

    #useridphoto img {
        max-width: 90%;
        max-height: 45vh;
        border: solid 2px black;
        border-radius: 12px;
    }

    #userinfo {
        width: 100%;
    }
    #userlocation {
        width: 100%;
    }
    #instagram {
        width: 100%;
    }
    #patreon {
        width: 100%;
    }
    #soundcloud {
        width: 100%;
    }

div#box2 {
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-column: 3 / span 2;
    grid-row: 1;
    border: solid 2px black;
    border-radius: 20px;
}

#box2flex {
    width: 100%;
    height: 100%;
    max-height: inherit;
    padding: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: top;
    text-align: center;
}

    #featuredwork {
        max-width: 98%;
        min-width: 98%;
        /* max-height: 50%; */
        height: min-content;
        align-self: center;
        display: block;
        overflow: none;
        /* border-top: solid 2px black;
        border-bottom: solid 2px black; */
        /* flex-basis: auto; */
    }
    
        #fwcontainer {
            width: 100%;
            height: 100%;
            display: block;
            padding-top: 6px;
            padding-bottom: 6px;
        }

            #featuredwork img {
                max-width: 90%;
                max-height: 90%;
                border: solid 2px black;
                border-radius: 20px;
            }


/* .thumbnail img {
    max-width: 96%;
    max-height: 96%;
    border: solid 2px black;
    border-radius: 12px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
} */

div#box3 {
    padding: 5px;
    margin: 5px;
    /* max-height: 55vh;
    min-height: min-content; */
    display: grid;
    grid-column: 1 / span 4;
    grid-row: 2;
    border: solid 2px black;
    border-radius: 20px;
    
    
}

.lslider {
    width: 100%;
    text-align: center;
    
}

.lslider2 {
    width: 100%;
    text-align: center;
}


    ul {
        list-style: none outside none;
        padding-left: 0;
        margin-bottom:5px;
        text-align: center;
    }
    li {
        display: block;
        float: right;
        margin-right: 6px;
        cursor:pointer;
        width: 24%;
    }
    #box3 img {
        display: block;
        height: auto;
        max-width: 100%;
        border-radius: 10px;
        border: solid 2px black;
    }

div#box4 {
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-column: 1 / span 4;
    grid-row: 3;
    border: solid 2px black;
    border-radius: 20px;
}

    #box4 img {
        display: block;
        height: auto;
        max-width: 100%;
        border-radius: 10px;
        border: solid 2px black;
    }
/*
div#box5 {
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-column: 3 / span 1;
    grid-row: 2;
    border: solid 2px black;
    border-radius: 20px;
}

div#box6 {
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-column: 4 / span 1;
    grid-row: 2;
    border: solid 2px black;
    border-radius: 20px;
} */

footer {
    padding: 5px;
    padding-top: 3vh;
    width: 100%;
    height: 60px;
    background-color: #d9f0ff;
    color: #593f62;
    display:inline-block;
    text-align:center;
    vertical-align: middle;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}