<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>Numbers!</h1>
    {% for collection in collections %}
    <a href="{% url 'nums:collection' pk=collection.pk %}"><h4>{{collection.name}}</h4></a>
        <ul>
            {% for num in collection.number_set.all %}
            <li>{{num.number}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        <form action="/" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder='new collection'>
            <button type="submit">add collection</button>

        </form>
</body>
</html>