nav {
    height: 15vh;
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subnav {
    display: none;
}

nav * {
    font-family: 'Odibee Sans', cursive;
    font-size: 3rem;
}

#padding {
    background-color: hotpink;
    height: 3vh;
}

button:hover {
    color: hotpink;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.home {
    border: 2px solid blue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}