<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js"></script> -->
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>Document</title>
</head>
<body>
    <main id="app">
        <div class="input-div">
            <input v-model="inputField" id="input" placeholder="Type in me.. please...">
            <span>Search by:</span>
            <select v-model="filterInput">
                <option value="keyword">Keyword</option>
                <option value="author">Author</option>
                <option value="tag">Tag</option>
            </select>
            <button v-on:click="getQuotes()">Go!</button>
            <button v-on:click="getRandomQuotes()">Just Gimme A Quote!</button>
        </div>

        <div class="quote-div" v-for="quote in quotes">
            <div>{{ quote.author }}</div>
            <blockquote>"{{ quote.body }}"</blockquote>
            <!-- <div>{{ quote.tags }}</div> -->
            <span>Tags:</span>
            <span v-for="tag in quote.tags">{{ tag }}</span>
        </div>
    </main>
</body>
</html>