span {
    display: flex;
    flex-direction: column;
}
div {
    display: flex;
}

button {
    width: 80px;
}
textarea {
    background-color: lightsteelblue;
    resize: none;
    width: 150px;
    height: 60px;
    text-align: center;
    word-wrap: break-word;
}
/* {
    outline: 1px solid lightgray;
}*/