{% extends "home/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <script src="{% static 'calc/js/calc.js' %}" defer></script>
    {% csrf_token %}
    {{ calc_macros|json_script:"calc_macros" }}
    <header>Let's Calculate Your Macros</header>
    <main>

        <div id="calc-app">

            <div class="container calc">
                <span>Enter your weight:</span>
                <!-- Add JS to control min/max in number inputs -->
                <input type="number" name="weight" min="0" max="500" v-model="weight">
                <input type="radio" name="meas" v-model="measSys" value="lbs" checked>lbs
                <input type="radio" name="meas" v-model="measSys" value="kg">kg
            </div>

            <div class="container calc">
                <span>Enter your body fat percentage:</span>
                <!-- Add JS to allow for number between 1 and 100 -->
                <input type="number" name="bfp" v-model="bfp">%
                <button>I don't know my bfp...</button>
            </div>

            <div class="container calc">
                <span>Select your activity level:</span>
                <select name="act-lvl" v-model="actLvl">
                    <option value="1.2">Sedentary (little or no exercise)</option>
                    <option value="1.375">Lightly active (training/sports 2-3 days a week)</option>
                    <option value="1.55">Moderately active (training/sports 4-5 days a week)</option>
                    <option value="1.725">Very active (training/sports 6-7 days a week)</option>
                    <option value="1.9">Extremely active(twice per day, extra heavy workouts)</option>
                </select>
            </div>

            <div class="container calc">
                <span>Select your fitness goal:</span>
                <input type="radio" name="goal" value="loss" v-model="goal">Fat Loss
                <input type="radio" name="goal" value="gain" v-model="goal">Muscle Gain
            </div>

            <div class="container calc">
                <button v-on:click="calcMacros">Calculate my Macros!</button>    
            </div>

        </div>

    </main>
    {% endblock %}
    
</body>
</html>