<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script.js" defer></script>
    
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->

    <title>Document</title>
</head>
<body>
    <div id="app">
        <nav>
            <input id="input" v-model="number" placeholder="Of which number would you like to learn?">
            <radio-div v-for="radioButton in radioButtons" v-bind:key="radioButton" v-bind:radio-button="radioButton"
            v-on:typeclick="updateType"></radio-div>
            <button v-on:click="getInfo">Go!</button>
        </nav>
        <main>
            <ul>
                <li v-for="numFacts in reversedNumFactsArr"><span>{{numFacts.data}}</span></li>
            </ul>
        </main>
    </div>
</body>
</html>