body {
    background-color: lightgray;
}

#center_div {
    background-color: white;
    margin: 3%;
    max-width: 1200px;
    align-self: center;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #003399;
}

#topnav {
    font-size: 11pt;
    color: white;
    font-family: verdana,arial,sans-serif,helvetica;
    text-align: center;
    text-decoration: none;
    padding: 2px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#topnav_left {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#topnav_right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.nav_link {
    text-decoration: none;
    color: white;
}

.logo {
    width: 100%;
}

#logo_id {
    display: block;
    height: 144px;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
}

#sub_header {
    display: flex;
    justify-content: center;
    font-size: 11pt;
    color: white;
    background-color: #6698CB;
    font-family: verdana,arial,sans-serif,helvetica;
    text-align: center;
    text-decoration: none;
    padding: 2px;
}

#middle_div {
    background-color: white;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

.forgot_pass_table {
    display: flex;
    justify-content: center;
    margin: 50px;
    border-color: #ffcc99;
    border: 3px solid #ffcc99;
    background-color: #ffcc99;
    max-width: 463px;
}

/* #forgot_tbody {
    margin-left: -10px;
} */

.forgot_header {
    background-color: #ffcc99;
    color: #FF6600;
    font-family: verdana,arial,sans-serif,helvetica;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

#forgot_passes {
    background-color: white;
    font-family: verdana,arial,sans-serif,helvetica;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 150px;
}

#button_tr {
    display: flex;
    justify-content: space-around;
}

.pass_button {
    font-family: verdana,arial,sans-serif,helvetica;
    font-size: 10pt;
}

#footer_div {
    margin: auto;
    max-width: 1200px;
    background-color: #003399;
    min-height: 65px;
}

.footer_text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 4pt;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
