* {
    /* placeholder font */
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center; */
}

main {
    display: flex;
    flex-direction: column;
    /* align-content: center;  */
    justify-content: flex-end; 
    height: 100vh;
}

#logo * {
    font-size: 4rem;
}

#logo span:first-child, span:nth-child(4){
    color: #708BFF;
}

#logo span:nth-child(2), span:nth-child(6) {
    color: #E66969;
}

#logo span:nth-child(3) {
    color: #C29A14;
}

#logo span:nth-child(5) {
    color: #3A8051;
}