<!--The user should be presented with an input field and a button (in a form). When the clicks the button, it should save the data to the server and show the newly-added item in the list.-->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todo_app/style.css' %}">

<h1>Todo List:</h1>

<form action="/" method="POST">
{% csrf_token %}
    <button type="submit">Add Todo!</button>
    <input type="text" name="text" placeholder="New Todo!">
</form>

<form action="/complete/" method="POST">
{% csrf_token %}
    <ol>
    {% for todo in todos %}
        <li>{{ todo.text }}
        {% if todo.completed_bool %} ✓
        <div>Todo Created: {{ todo.created_date }}  Todo Completed: {{ todo.completed_date }}</div>
        {% else %}
        <button name="id" value="{{ todo.pk }}" type="submit">Complete</button>
        <div>Todo Created: {{ todo.created_date }}</div>
        {% endif %}
        </li>
    {% endfor %}
    </ol>
</form>