<h1>Your /\/\ /-\ {ros</h1>
<h2>\/\/ |-| /-\ T   /-\   |-|ealth!</h2>
<ul>
    <li>
        <h4>Training Day:</h4>
        <ul>
            <li>Calories: {{ macros.train_kcal }}</li>
            <li>Fat: {{ macros.train_fat }}g</li>
            <li>Carbohydrates: {{ macros.train_carb }}g</li>
            <li>Protein: {{ macros.protein }}g</li>
        </ul>
    </li>
    <li>
        <h4>Rest Day:</h4>
        <ul>
            <li>Calories: {{ macros.rest_kcal }}</li>
            <li>Fat: {{ macros.rest_fat }}g</li>
            <li>Carbohydrates: {{ macros.rest_carb }}g</li>
            <li>Protein: {{ macros.protein }}g</li>
        </ul>
    </li>
</ul>


<h2>So them's that's and they's your's macro's</h2>
<h3>Now let's get around to tracking your meals:</h3>

<a href="{% url 'trak:diary' %}"><button>Now that's what I'm talkin' about!</button></a>