<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
	.mountain > span > span {
		width: 1em;
		display: inline-block;
	}
	</style>
</head>
<body>
	<div id="app">
		<div id="top">
			<div id="button-container">
				<div v-on:click="numAppend">▲</div>
				<div>{{this.numActive}}</div>
				<div v-on:click="numAppend">▼</div>
			</div>
			<div id="nums">{{numArr}}</div>
		</div>
		<div class="mountain" v-for="i in maxHeight">
			<span v-for="j in numArr.length">
					<span v-if="numArr[j-1] > maxHeight - i">
▪ 
					</span>
					<span v-else>▫</span>
			</span>
		</div>
	</div>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				numArr: [0],
				numActive: 0,
				maxHeight: 10,
			},
			methods: {
				numAppend: function() {
					this.numActive++;
					this.numArr.push(this.numActive);
				}
			}
		});
	</script>
</body>
</html>
