<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		.flex-container {
			display: flex;
		}
		.green {
			background-color: lightgreen;
		}
		.red {
			background-color: pink;
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="flex-container" id="ticket-holder">
			<div>
				<div v-for="ticket in tickets">
					<span v-for="i in ticket.length"
							v-bind:class="ticket[i-1]===winningTicket[i-1]?'green':'red'"
						>{{ticket[i-1]}}</span>
				</div>
			</div>
			<div>
				<div v-for="ticket in tickets">
					{{winningTicket}}
				</div>
			</div>
		</div>
	</div>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				tickets: [
					[...Array(6).keys()],
					[...Array(6).keys()].map(x=>x*2),
				],
				winningTicket: [...Array(6).keys()],
			},
		});
	</script>
    
</body>
</html>
