body {

    display: flex;
    flex-direction: column;

}

a {
    text-decoration: none;
    color: none;
}

a:visited {
    color: white;
}

main {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

main.clock {
    background-image: url(clock.gif);
    background-size: contain;
    background-size: 33.3333vw;
    display: flex;
    flex-wrap: wrap;
}

main.stopwatch {
    background-image: url(stopwatch.gif);
    background-size: 20vw;
}

main.countdown {
    background-image: url(hourglass3.gif);
    background-size: 12.5vw;
}

main.counting-down {
    height: 100vh;
    background-image: url(hourglass.gif);
    background-size: 25vh;
}

main.counting-down-thirty {
    background-image: url(hourglass2.gif);
    height: 100vh;
    /* background-size:  */
}

main.counting-down-ten {
    background-image: url(red-alarm.gif);
    height: 100vh;
    background-size: 20vw;
}

main.explosion {
    background-image: url(explosion.gif);
    height: 100vh;
    background-size: auto;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-content: space-around; bad code*/
    /* background-image: linear-gradient(to bottom, red 0%, green 25%, blue 50%, yellow 75%, purple 100%); old version*/
    background-image: linear-gradient(to bottom, #EE24FF 0%, #26EB57 25%, #FF7B42 50%, #158BEB 75%, #FFD81F 100%);
    width: 100vw;
    height: 30vh;
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav.clock {
    background-image: linear-gradient(to bottom, red 0%, green 25%, blue 50%, yellow 75%, purple 100%);
    background-image: linear-gradient(to bottom, #5A5C5B 0%, #666968 25%, #414242 50%, #BEC2C1 75%, #414242 100%)
}

nav header {
    font-size: xx-large;
    align-self: center;
    font-style: italic;
    color: white;
}

#nav-buttons {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

button {
    width: 25vw;
    height: 10vh;
    color: black;
    border-radius: 50%;
    border: none;
    font-size: x-large;
    background-image: linear-gradient(to right, #FF2D0D 0%, #B43BEB 25%, #599CFF 50%, #00EB75 75%, #D2FF1E 100%);
    /* background-image: linear-gradient(to right, red 0%, green 25%, blue 50%, yellow 75%, purple 100%); old version*/

}

button:hover {
    text-decoration: bold;
    color: white;
    background-image: linear-gradient(to right, red 0%, green 25%, blue 50%, yellow 75%, purple 100%);
}

main.river {
    background-image: url(river.png);
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main blockquote {
    display: flex;
    flex-direction: column;
    width: 50vw;
    color: white;
    background: hsla(0, 0%, 48%, 0.49);
    font-size: 3rem;
    font-family: 'Ruthie', cursive;
    border-radius: 20px;
}

blockquote div {
    display: flex;
    justify-content: right;
}

div.clock {
    background: white;
    color: black;
    font-size: 4rem;
    font-family: 'Source Code Pro', monospace;
}

#stopwatch {
    display: none;
    flex-direction: column;
}

#stopwatch button.stopwatch {
    border-radius: 5px;
    background: radial-gradient(white 0%, black 50%, red 100%);
    margin: 5vw;
}

#stopwatch button:hover {
    color: red;
}

#stopwatch-field {
    background-color: hsla(0, 0%, 62%, 0.83);
    border-radius: 10px;
    font-size: 4rem;
    width: 33.33vw;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#countdown {
    display: none;
    flex-direction: column;
}

#countdown-field {
    border-radius: 30px;
    background-color: hsla(31, 13%, 52%, 0.54);
    text-align: center;
    font-size: 3rem;
    width: 25vw;
    height: 15vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
}

#enter-countdown {
    display: flex;
    flex-direction: column;
}

#set-countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#set-countdown span {
    font-size: 1.5rem
}

#enter-countdown-field {
    font-size: 1.5rem;
    text-align: center;
}

#begin-countdown {
    border-radius: 5px;
    background: radial-gradient(#ce985f 25%, #3fb8e4 75%)
}