body {
    display: flex;
    flex-direction: column;
    background-image: url("refried-beans.gif");
    background-size: cover;
}

#big-header {
    width: 100%;
    height: 20vh;
    font-family: 'Monofett', cursive;
    font-size: 2rem;
    color: wheat;
    background: linear-gradient(to right, red 0%, brown 50%, orange 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#burrito-pic div{
    width: 25vw;
    display: flex;
    flex-direction: column;
}

img {
    width: 25vw;
}

.border {
    border-style: solid;
    border-width: thin;
}

main * {
    font-size: medium;
    font-family: 'Mrs Sheppards', cursive;
}