main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* main:first-child {
    flex-direction: column;
}

main:nth-child(2) {
    flex-direction: column;
}

main:nth-child(3) {
    flex-direction: column;
} */

.outer-container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 5px;
    margin: 20px 5vw;
    width: 20vw;
}

.outer-container:hover {
    background-image: url("refried-beans.gif");
}

.special-container {
    display: flex;
    flex-direction: row;
}

img {
    size: auto;
}

.big {
    width: 25vw;
}