<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title> 
</head>
<body>
   <h1>Movies</h1>
	<ul>
	{% for movie in movies %}
		<li><a href="{% url 'movies:movie_detail' movie.pk %}">{{ movie.title }}</a></li>
	{% endfor %}
	</ul>
	<form method="POST" action="{% url 'movies:new_movie' %}"" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="text" name="title" placeholder="movie title">
		<label for="genres">Choose a genres:</label>
		<select name="genres" id="genres" multiple>
			{% for genre in genres %}
			<option value="{{genre.pk}}">{{genre.text}}</option>
			{% endfor %}
		</select>
		<label for="movie_image">Select an image:</label>
		<input type="file" name="movie_image" id="movie_image">
		<button type="submit">Register New Movie</button>
	</form>


	<form method="POST" action="{% url 'movies:new_tape' %}">
		{% csrf_token %}
		<label for="movie">Choose a movie:</label>
		<select name="movie" id="movie">
			{% for movie in movies %}
			<option value="{{movie.pk}}">{{movie.title}}</option>
			{% endfor %}
		</select>
		<label for="condition">Choose a condition:</label>
		<select name="condition" id="condition">
			{% for condition in conditions %}
			<option value="{{condition.pk}}">{{condition.text}}</option>
			{% endfor %}
		</select>
		<button type="submit">Register New Tape</button>
	</form>
    
</body>
</html>