html {
    background-image:url(https://wallpaperplay.com/walls/full/1/c/c/44874.jpg);
    height:100%;
    width:100%;
}

#back_img {
    background: url();
}

body {
    width: 100%;
    height: 100%;
}