<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Vue Quotes</title>
    <style>
        #rand_quoteDiv {
            height: 10px;

        }
    </style>
</head>
<body>
    <div id="rand_quoteDiv">
        <div v-if="header_text">
            {{header_text}}
        </div>
        </br>
        <input id="user_search" v-bind:placeholder="search">
        <button v-on:click="search_button">Search</button>
        <ol v-if="quoteArrs.length" style="list-style-type:disc;">
            <li v-for="quoteArr in quoteArrs">
                <span v-html="quoteArr.text"></span>
                <br />
                <span>-</span>
                <span v-html="quoteArr.qAuth"></span>
            </li>
            <br />
        </ol>
    </div>

    <script>
        var quoteVue = new Vue ({
            el: "#rand_quoteDiv",
            data: {
                header_text: "",
                search: "Enter Search",
                quoteArrs: [],
            },
            methods: {
                search_button: function() {
                    let searchText = document.querySelector("#user_search")
                    let search_url = "https://favqs.com/api/quotes?type=tag&filter="+searchText.value;
                    axios.get(search_url, {
                        headers: {Authorization: 'Token token="..."'}
                    })
                    .then((response) => {
                        console.log(response);
                        let myQuote = response.data.quotes.slice(0,3).map((quote)=>({text: quote.body, qAuth: quote.author}));
                        console.log(myQuote);
                        console.log(this);
                        this.quoteArrs = myQuote;
                    })
                    }
                    // let quoteSearch = {text: this.search};
                    // console.log(quoteSearch)
            },
            created: function() {
                let url = "https://favqs.com/api/qotd/"
                axios.get(url)
                .then((response) => {
                // console.log(response.data.quote.body);
                this.header_text = response.data.quote.body;
            })
            }
            
        })
    </script>
</body>
</html>