



{% load static %}

<link rel="stylesheet" href="{% static 'short/style.css' %}">





<h1>{{ 'URL Converter'}}</h1>


<form action="{% url 'short:coder' %}" method="post">
    {%csrf_token%}
    Your Url : <input type="text" name="url_name">
    <input type="submit" value="Submit">
</form>



<div class= new_link>
    Your new Link:<br> <textarea id="new_url" readonly>
        {% if messages %}
            {% for message in messages %}
            
            {{ message }}
                
            
            {% endfor %}
        {% endif %}
    </textarea>
    
</div>


