<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'cc/css/profile.css' %}">
</head>
<body>
    <mydiv>
        <div>
            <menubar><img src="https://s5.gifyu.com/images/CreativeCrossroadsGIFgreen4.gif" width="50%" height="50%">  </menubar>
        </div>
        <div>
            <header>
                This is filler text.  User and other miscellaneous information will go here.
    
            </header>
        </div>

        <usertitle>
            User Title
        </usertitle>

        <artdiv>
            <div id="box1">
                <div id="box1flex">
                    
                    <div id="useridphoto"><div id="uidcontainer"><img src="/media/images/Portrait_Test.jpg" alt="User Landscape"></div></div>
                    <div id="userinfo"> 
                        Name: <br>
                        Mediums:<br>
                        Bio: <br>
                    </div>
                    <div id="userinterests">Interests: <br></div>
                    <div id="userinspirations">Inspirations: <br></div>
                </div>
            </div>
            <div id="box2">Featured Work
                <div id="box2flex">
                    <div id="featuredwork">
                        <div id="fwcontainer">
                            <img src="/media/images/IMG_3742.jpg" alt="Featured Work">
                        </div>
                    </div>
                </div>
            </div>
            <div id="box3">Gallery Thumbnail</div>
            <div id="box4">Gallery Thumbnail</div>
            <div id="box5">Gallery Thumbnail</div>
            <div id="box6">Gallery Thumbnail</div>

        </artdiv>
        <footer>
            Test it! This doesn't make any sense. I hate CSS.
        </footer>
    </mydiv>
    
</body>
</html>